<div class="landing"> 
    <br>
    <br>
    <h3>Hi, I'm</h3>
    <h1 data-aos="flip-right" data-aos-duration="3000">Fathima Nizar</h1>
    <h3>Full Stack Developer who is passionate about modern mobile and web technology 
    <br>using ExpressJS, Angular, and NodeJS. I am a fast learner who is very good 
    <br>at teamwork and likes to work with people who want to build a brand in a strategic way.</h3>
    <!-- <div class="card" > -->
        
    <img class="card-img-top" src="./assets/images/dp.jpg" alt="Card image cap" data-aos="flip-right" data-aos-duration="3000">
    
    <br>
    <br>
    <div>
        <button class="button1" data-aos="fade-right" data-aos-duration="3000">Contact Me</button>
        <button class="button2" data-aos="flip-left" data-aos-duration="3000">Hire Me</button>
    </div>
    <!-- </div> -->
    
    
</div>
