<div class="landing"> 
    <br>
    <br>
    <h3>Hi, I'm</h3>
    <h1 data-aos="flip-right" data-aos-duration="2000">Fathima Nizar</h1>
    <h3>Full Stack Developer who is passionate about modern mobile and web technology 
    <br>using ExpressJS, Angular, and NodeJS. I am a fast learner who is very good 
    <br>at teamwork and likes to work with people who want to build a brand in a strategic way.</h3>
    <!-- <div class="card" > -->
        
    <img class="card-img-top" src="./assets/images/dp.jpg" alt="Card image cap" data-aos="flip-right" data-aos-duration="2000">
    
    <br>
    <br>
    <div>
        <button class="button1" data-aos="fade-right" data-aos-duration="2000">Contact Me</button>
        <button class="button2" data-aos="flip-left" data-aos-duration="2000">Hire Me</button>
    </div>
    <!-- </div> -->
    
    
</div>

<div class="services">
    <h1 data-aos="flip-right" data-aos-duration="2000">Services</h1>
    <br>
    <div class="row">
      <div class="column" data-aos="zoom-in-up" data-aos-duration="2000">
        <div class="card" style="width: 18rem;">
          <h2 class="card-title">Angular Js Development</h2>
             <p>Angular Js Mobile App development</p>
             <p>Angular Js web application development</p>
             <p>Angular Js development services</p>
       </div>
      </div>
      <div class="column" data-aos="zoom-in-up" data-aos-duration="2000">
        <div class="card" style="width: 18rem;">
          <h2 class="card-title">Node Js Development</h2>
             <p>Node Js API Integration & Development</p>
             <p>Real-time Node Js app development</p>
             <p>Node Js website development</p>
         </div>
      </div>
      <div class="column" data-aos="zoom-in-up" data-aos-duration="2000">
        <div class="card" style="width: 18rem;">
          <h2 class="card-title">Express JS Development</h2>
             <p>Express js Frameworks Development</p>
             <p>ExpressJS Custom Development</p>
             <p>Express JS Development Services</p>
         </div>
      </div>
     
    </div>
    
</div>
<div class="testimonials">
    <h1 data-aos="flip-right" data-aos-duration="2000">Testimonials</h1>
    <section class="testimonial">
        <div class="containers">
            <br>
            <owl-carousel-o [options]="testimonialSlider">
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                    <img src="../assets/images/d1.png" alt="">
                    </div>
                    <br>
                    <div class="testimonial-content">
                        <h2>Ronan Burnett</h2>
                        <br>
                        <h3>Web Developer</h3>
                        <p>Not only was Fathima's work on-time and to spec, she pays attention to improve the aesthetics of the site as well as the functionality.
                             Throughout the entire process she is responsive, and willing to work through issues as they arise.
                             It's obvious she takes tremendous pride in her work, and I wouldn't hesitate to recommend or work with her again.
                    </div>
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                    <img src="../assets/images/d2.png" alt="">
                    </div>
                    <br>
                    <div class="testimonial-content">
                        <h2>Douglas Berger</h2>
                        <br>
                        <h3>Full Stack Developer</h3>
                        <p>We have the fortune of working with Fathima on a very regular basis. 
                            Every single project is done in a timely fashion and is delivered exactly as is outlined. 
                            Beyond that, her development skills and expertise make her an invaluable part of our process.
                             We absolutely offer our highest possible recommendation.
                        </p>
                    </div>
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                    <img src="../assets/images/d4.png" alt="">
                    </div>
                    <br>
                    <div class="testimonial-content">
                        <h2>Diana Silvers</h2>
                        <br>
                        <h3>Front-end Developer</h3>
                        <p>Working with Fathima was better than expected and we had really high expectations.
                            She is an incredibly talented developer but what really makes her stand out is her work ethic and steady approach.
                             Time after time, and without us asking, she added enhancements and improvements that resulted in a better end product for us and our clients.
                        </p>
                    </div>
                </ng-template>
              </owl-carousel-o>
        </div>
        
    </section>
   


</div>
    
