<div class="testimonials">
    <h1 data-aos="flip-right" data-aos-duration="3000">Testimonials</h1>
    <section class="testimonial">
        <div class="containers">
            <br>
            <owl-carousel-o [options]="testimonialSlider">
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                    <img src="../assets/images/d1.png" alt="">
                    </div>
                    <br>
                    <div class="testimonial-content">
                        <h2>Ronan Burnett</h2>
                        <br>
                        <h3>Web Developer</h3>
                        <p>Not only was Fathima's work on-time and to spec, she pays attention to improve the aesthetics of the site as well as the functionality.
                             Throughout the entire process she is responsive, and willing to work through issues as they arise.
                             It's obvious she takes tremendous pride in her work, and I wouldn't hesitate to recommend or work with her again.
                    </div>
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                    <img src="../assets/images/d2.png" alt="">
                    </div>
                    <br>
                    <div class="testimonial-content">
                        <h2>Douglas Berger</h2>
                        <br>
                        <h3>Full Stack Developer</h3>
                        <p>We have the fortune of working with Fathima on a very regular basis. 
                            Every single project is done in a timely fashion and is delivered exactly as is outlined. 
                            Beyond that, her development skills and expertise make her an invaluable part of our process.
                             We absolutely offer our highest possible recommendation.
                        </p>
                    </div>
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="testimonial-image">
                    <img src="../assets/images/d4.png" alt="">
                    </div>
                    <br>
                    <div class="testimonial-content">
                        <h2>Diana Silvers</h2>
                        <br>
                        <h3>Front-end Developer</h3>
                        <p>Working with Fathima was better than expected and we had really high expectations.
                            She is an incredibly talented developer but what really makes her stand out is her work ethic and steady approach.
                             Time after time, and without us asking, she added enhancements and improvements that resulted in a better end product for us and our clients.
                        </p>
                    </div>
                </ng-template>
              </owl-carousel-o>
        </div>
        
    </section>
   


</div>
    