<div class="services">
    <h1 data-aos="flip-right" data-aos-duration="3000">Services</h1>
    <br>
    <div class="row">
      <div class="column" data-aos="zoom-in-up" data-aos-duration="3000">
        <div class="card" style="width: 18rem;">
          <h2 class="card-title">Angular Js Development</h2>
             <p>Angular Js Mobile App development</p>
             <p>Angular Js web application development</p>
             <p>Angular Js development services</p>
       </div>
      </div>
      <div class="column" data-aos="zoom-in-up" data-aos-duration="3000">
        <div class="card" style="width: 18rem;">
          <h2 class="card-title">Node Js Development</h2>
             <p>Node Js API Integration & Development</p>
             <p>Real-time Node Js app development</p>
             <p>Node Js website development</p>
         </div>
      </div>
      <div class="column" data-aos="zoom-in-up" data-aos-duration="3000">
        <div class="card" style="width: 18rem;">
          <h2 class="card-title">Express JS Development</h2>
             <p>Express js Frameworks Development</p>
             <p>ExpressJS Custom Development</p>
             <p>Express JS Development Services</p>
         </div>
      </div>
     
    </div>
    
</div>
